.report *{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.report{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background: #ecf7ee;  
    color: #000;
    letter-spacing: 0.5px;
}

.report .student-profile .card {
    border-radius: 10px;
    background: rgba(198, 222, 198, 0.972);

}

.report .submit-btn{
    padding: 5px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;   
    background: linear-gradient(to right, #0f9031, #0fc23e);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.report .student-profile .card .card-header .profile_img {

    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 5px solid rgb(241, 244, 241);
    border-radius: 50%;
}

.report .student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.report .student-profile .card p {
    font-size: 16px;
    color: #000;
}

.report .student-profile .table th{
    font-size: 16px;
    padding: 5px 10px;
    color: #000;
}

.report .student-profile .table td {
    font-size: 16px;
    padding: 5px 10px;
    color: #000;
}